# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/public
/dist
/cypress
/.vscode/*

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/.vscode/*
!/.vscode/extensions.json
.idea
.browserlistrc
.eslintrc.js
.capacitor.config.ts

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache

# Project configuration files
.browserslistrc
capacitor.config.ts
cypress.config.ts
ionic.config.json
package-lock.json
tsconfig.json
tsconfig.node.json
vite.config.ts
