:root {
    --light-theme-text-color: #000;
    --dark-theme-text-color: #fff;
  }

.tracking-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
  
.tracking-buttons {
    display: flex;
    margin: 25%;
    width: 50%;
    flex-direction: column;
    font-size: .2em;
}

.tracking-buttons IonButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-width: 120px; 
    font-size: .2em;
}

.current-display {
    font-size: 20px;
    font-weight: bold;
    color: grey
    
}


.track-message{
    text-align: center;
    margin: 10px;
    font-size: 20px;

}


